apiVersion: v1
kind: Service
metadata:
  name: inventory
  namespace: microdemo
spec:
  ports:
    - port: 8000
      targetPort: 8000
      name: http
  selector:
    app: inventory
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
  namespace: microdemo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
        - name: inventory
          image: microdemo-kb-inventory:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: DATABASE_URL
              value: postgresql://inventory:inventory123@inventory-db:5432/inventorydb
            - name: REDIS_URL
              value: redis://redis:6379/2
          ports:
            - containerPort: 8000
              name: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 20
